<section id="organizers" class="bg-light"></section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Organizers</h2>

		<span>
                    <a href="http://nus.edu.sg/">
                        <img src="assets/img/NUS.png" width="190" style="margin-right: 30px">
                    </a>
                    <a href="https://www.tsinghua.edu.cn/en/">
                        <img src="assets/img/thu.png" width="230" style="margin-right: 20px">
                    </a>
                    <a href="https://www.southampton.ac.uk/">
                    <img src="assets/img/southampton.png" width="230" style="margin-right: 20px">
                    </a>
                </span>
		   
		    
            </div>
        </div>
    </div>
</section>